/* === Small CSS Reset === */
*{
    margin: 0;
    padding: 0;
}
*, *::after, *::before{
    box-sizing: border-box;
}

.contact {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

/* Section Contact and Map */

.map {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 3em;
    width: 50%;
}

.map p {
    margin: 2em;
}

iframe {
    width: 100%;
    height: 300px;
    margin: 0 auto;
}

/* Section Form */


.address {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.newsletter {
    margin-top: 3em;
}

.subBtn {
    font-family: 'Poppins', sans-serif;
    border: solid 3px #d49a89;
    color: #d49a89;
    padding: 0.5em;
    cursor: pointer;
    margin-top: 1em;
}


/* Media Queries */

/* Phones */

@media screen and (max-width: 599px) {

    .contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .subBtn {
        margin-bottom: 2em;
    }

}

/* Tablets */

@media screen and (min-width: 600px) {

    .contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .subBtn {
        margin-bottom: 2em;
    }

}

/* Desktop */

@media screen and (min-width: 980px) {

    .contact {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
    }

}

