
/* Header */

  h2, h3 {
      text-align: center;
  }

  /* Textarea */

   .subBtn {
    margin: 1em;
  }

  .ueberschrift1 {
    color: #d49a89;
  }

  .editText {
    width: 70%;
    margin: 0 auto;
  }

  p {
    margin-bottom: 2em;
    text-align: center;
  }

  /* Logout Icon */

  .fa-sign-out-alt {
    font-size: 1rem;
  }