

.row {
    margin: 0 auto;
}

.card .card-image .card-title {
    color: #d49a89;
    font-family: 'Playfair Display', serif;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    color: #d49a89;
}

/* Media Queries */

@media screen and (min-width: 600px) {

    .row {
        display: flex;
        flex-direction: row;
    }

    .card {
        width: 100%;
    }

    .subBtn {
        width: 150px;
    }
}

@media screen and (min-width: 980px) {

    .row {
        display: flex;
        flex-direction: row;
    }
}